/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

/* Styling for SVG elements */
svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: 1200px;
}

@media (min-width: 768px) {
    svg {
        width: 800px;
    }
}

/* Sankey diagram specific styles */
.sankey-link {
    fill: none;
    stroke: #000;
    stroke-opacity: 0.1;
}

.sankey-node {
    stroke: #000;
    stroke-width: 1px;
}

.sankey-node rect {
    fill-opacity: 0.9;
}

.sankey-node text {
    fill: #000;
    font: 10px sans-serif;
}

/* Text styling */
.column-title {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}

.small-text {
    font-size: 0.8em;
}

.bold {
    font-weight: bold;
}
